body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.login {
  margin: 10% auto;
  max-width: 50%;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.message-area {
  margin: 5% auto;
  max-width: 70%;
  text-align: left;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 10px;
}

.link-btn {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

.link-btn:hover {
  text-decoration: none;
  background-color: #bfbfbf;
  color: #000000;
}

.survey-question {
  border-bottom: 1px dashed #ffffff;
}

.icon {
  width: 36px;
  color: #ffffff;
}

.icon-bg {
  width: 96px;
}

.info-icon {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 3px;
  margin-right: 5px;
}

.underline {
  text-decoration: underline;
}

.recording {
  color: #ff0000;
}

.info-text {
  color: #bfbfbf;
  font-size: 0.75em;
}

.save-message {
  font-size: 1.5em;
  text-align: center;
  height: 325px;
}

.blank-box {
  display: block;
  height: 40%;
}

.questions {
  width: 70%;
  margin: 10% auto;
}

.btn-control {
  height: 150px;
  width: 150px;
}