body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.login {
  margin: 10% auto;
  max-width: 70%;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.message-area {
  margin: 10% auto;
  max-width: 70%;
  text-align: left;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 10px;
}

.link-btn {
  display: block;
  padding: 5px 7px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

.link-btn:hover {
  text-decoration: none;
  background-color: #bfbfbf;
  color: #000000;
}